@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

$main_black: #0C0C0C;
$main_black_transparent: rgba(12, 12, 12, 0.5);

$main_gray: #828282;
$second_gray: #858585;
$main_gray_transparent: rgba(130, 130, 130, 0.5);
$second_gray_transparent: rgba(133, 133, 133, 0.5);

$main_red: #BC242E;

$main_white: white;